.idea/
indexers/
rerankers/
vectorizers/
retrievers/DPR/submission.sh
generators/fusion_in_decoder/scripts/abci_setting.sh

**/__pycache__/
**/outputs/
**/work/
**/tmp/
**/lib/
scripts/abci

.python-version
**/*debug.json

log_*

requirements.txt
requirements.in
submission.sh

retrievers/DPR/scripts/download_model.sh
retrievers/DPR/scripts/retriever/retrieve_passage_of_dev.sh
generators/fusion_in_decoder/scripts/download_*.sh
generators/fusion_in_decoder/configs/submission_generator_slud.yml
